In [1]:
import pandas as pd

/Users/Monica/.virtualenvs/dataanalysis/lib/python3.5/site-packages/matplotlib/__init__.py:1035: UserWarning: Duplicate key in file "/Users/Monica/.matplotlib/matplotlibrc", line #2
  (fname, cnt))

In [2]:
violations_df = pd.read_csv("violations.csv")

/Users/Monica/.virtualenvs/dataanalysis/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (17,18,20,21,22,23,29,30,31,32,36,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
# 1. I want to make sure my Plate ID is a string. Can't lose the leading zeroes!

#3. I want the dates to be dates! Read the read_csv documentation to find out how to make pandas automatically parse dates.
col_types = { 'Plate ID': 'str'}
dof_violations_df = pd.read_csv("DOF_Parking_Violation_Codes.csv", dtype=col_types, parse_dates=True)

In [4]:
print(violations_df.columns)

Index(['Summons Number', 'Plate ID', 'Registration State', 'Plate Type',
       'Issue Date', 'Violation Code', 'Vehicle Body Type', 'Vehicle Make',
       'Issuing Agency', 'Street Code1', 'Street Code2', 'Street Code3',
       'Vehicle Expiration Date', 'Violation Location', 'Violation Precinct',
       'Issuer Precinct', 'Issuer Code', 'Issuer Command', 'Issuer Squad',
       'Violation Time', 'Time First Observed', 'Violation County',
       'Violation In Front Of Or Opposite', 'House Number', 'Street Name',
       'Intersecting Street', 'Date First Observed', 'Law Section',
       'Sub Division', 'Violation Legal Code', 'Days Parking In Effect    ',
       'From Hours In Effect', 'To Hours In Effect', 'Vehicle Color',
       'Unregistered Vehicle?', 'Vehicle Year', 'Meter Number',
       'Feet From Curb', 'Violation Post Code', 'Violation Description',
       'No Standing or Stopping Violation', 'Hydrant Violation',
       'Double Parking Violation'],
      dtype='object')

In [ ]:
# violations_df.describe

In [5]:
print(dof_violations_df.head())

  CODE                                         DEFINITION  \
0   10  Stopping, standing or parking where a sign, st...
1   11  Hotel Loading/Unloading: Standing or parking w...
2   12  Snow Emergency: Standing or parking where stan...
3   13  Taxi Stand: Standing or parking where standing...
4   14  General No Standing: Standing or parking where...

  ManhattanÂ  96th St. & below All Other Areas
0                       $115            $115
1                       $115            $115
2                        $95             $95
3                       $115            $115
4                       $115            $115

2. I don't think anyone's car was built in 0AD. Discard the '0's as NaN.

In [6]:
violations_df = violations_df[violations_df['Vehicle Year'] != 0]
print(violations_df['Vehicle Year'])

0          2013
1          2012
3          2010
4          2012
6          2011
8          2001
9          2005
10         2010
11         1998
13         2012
14         1995
15         2012
16         2010
18         2013
21         2012
23         2003
25         2013
26         2001
28         2003
29         2013
35         2013
36         2004
38         2007
39         2002
40         1996
41         2012
47         2011
48         2012
49         2013
50         2013
           ...
4999968    2011
4999969    2010
4999970    2006
4999971    1999
4999972    2008
4999973    2011
4999974    2008
4999975    2011
4999976    2005
4999977    2013
4999978    2010
4999980    2003
4999981    2013
4999982    2003
4999983    2010
4999984    2013
4999985    2011
4999986    2013
4999987    2005
4999988    2001
4999989    2010
4999990    2006
4999991    2006
4999992    2007
4999993    2001
4999994    2008
4999995    1998
4999996    2014
4999997    1991
4999998    2009
Name: Vehicle Year, dtype: int64

4. "Date first observed" is a pretty weird column, but it seems like it has a date hiding inside. Using a function with .apply, transform the string (e.g. "20140324") into a Python date. Make the 0's show up as NaN.

In [14]:
print(violations_df['Date First Observed'])

0          0
1          0
3          0
4          0
6          0
8          0
9          0
10         0
11         0
13         0
14         0
15         0
16         0
18         0
21         0
23         0
25         0
26         0
28         0
29         0
35         0
36         0
38         0
39         0
40         0
41         0
47         0
48         0
49         0
50         0
          ..
4999968    0
4999969    0
4999970    0
4999971    0
4999972    0
4999973    0
4999974    0
4999975    0
4999976    0
4999977    0
4999978    0
4999980    0
4999981    0
4999982    0
4999983    0
4999984    0
4999985    0
4999986    0
4999987    0
4999988    0
4999989    0
4999990    0
4999991    0
4999992    0
4999993    0
4999994    0
4999995    0
4999996    0
4999997    0
4999998    0
Name: Date First Observed, dtype: int64



5. "Violation time" is... not a time. Make it a time.
6.  There sure are a lot of colors of cars, too bad so many of them are the same. Make "BLK" and "BLACK", "WT" and "WHITE", and any other combinations that you notice.
7. Join the data with the Parking Violations Code dataset from the NYC Open Data site.
8. How much money did NYC make off of parking violations?
9. What's the most lucrative kind of parking violation? The most frequent?
10. New Jersey has bad drivers, but does it have bad parkers, too? How much money does NYC make off of all non-New York vehicles?
11. Make a chart of the top few.
12. What time of day do people usually get their tickets? You can break the day up into several blocks - for example 12am-6am, 6am-12pm, 12pm-6pm, 6pm-12am.
13. What's the average ticket cost in NYC?
14. Make a graph of the number of tickets per day.
15. Make a graph of the amount of revenue collected per day.
16. Manually construct a dataframe out of https://dmv.ny.gov/statistic/2015licinforce-web.pdf (only NYC boroughts - bronx, queens, manhattan, staten island, brooklyn), having columns for borough name, abbreviation, and number of licensed drivers.
17. What's the parking-ticket-$-per-licensed-driver in each borough of NYC? Do this with pandas and the dataframe you just made, not with your head!