In [61]:
import pandas as pd

In [77]:
violations_df = pd.read_csv("violations.csv")

/Users/Monica/.virtualenvs/dataanalysis/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (17,18,20,21,22,23,29,30,31,32,36,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
# 1. I want to make sure my Plate ID is a string. Can't lose the leading zeroes!

#3. I want the dates to be dates! Read the read_csv documentation to find out how to make pandas automatically parse dates.
col_types = { 'Plate ID': 'str'}
dof_violations_df = pd.read_csv("DOF_Parking_Violation_Codes.csv", dtype=col_types, parse_dates=True)

In [ ]:
print(violations_df.columns)

In [7]:
# violations_df.describe

In [79]:
print(dof_violations_df.head())

  CODE                                         DEFINITION  \
0   10  Stopping, standing or parking where a sign, st...
1   11  Hotel Loading/Unloading: Standing or parking w...
2   12  Snow Emergency: Standing or parking where stan...
3   13  Taxi Stand: Standing or parking where standing...
4   14  General No Standing: Standing or parking where...

  ManhattanÂ  96th St. & below All Other Areas
0                       $115            $115
1                       $115            $115
2                        $95             $95
3                       $115            $115
4                       $115            $115

2. I don't think anyone's car was built in 0AD. Discard the '0's as NaN.

In [9]:
violations_df = violations_df[violations_df['Vehicle Year'] != 0]
print(violations_df['Vehicle Year'].head())

0    2013
1    2012
3    2010
4    2012
6    2011
Name: Vehicle Year, dtype: int64

4. "Date first observed" is a pretty weird column, but it seems like it has a date hiding inside. Using a function with .apply, transform the string (e.g. "20140324") into a Python date. Make the 0's show up as NaN.

In [26]:
print(violations_df['Date First Observed'].head())

0    0
1    0
2    0
3    0
4    0
Name: Date First Observed, dtype: int64



5. "Violation time" is... not a time. Make it a time.

7. Join the data with the Parking Violations Code dataset from the NYC Open Data site.
8. How much money did NYC make off of parking violations?
9. What's the most lucrative kind of parking violation? The most frequent?
10. New Jersey has bad drivers, but does it have bad parkers, too? How much money does NYC make off of all non-New York vehicles?
11. Make a chart of the top few.
12. What time of day do people usually get their tickets? You can break the day up into several blocks - for example 12am-6am, 6am-12pm, 12pm-6pm, 6pm-12am.
13. What's the average ticket cost in NYC?
14. Make a graph of the number of tickets per day.
15. Make a graph of the amount of revenue collected per day.
16. Manually construct a dataframe out of https://dmv.ny.gov/statistic/2015licinforce-web.pdf (only NYC boroughts - bronx, queens, manhattan, staten island, brooklyn), having columns for borough name, abbreviation, and number of licensed drivers.
17. What's the parking-ticket-$-per-licensed-driver in each borough of NYC? Do this with pandas and the dataframe you just made, not with your head!

In [30]:
violations_df.head()['Issue Date'].astype(datetime.datetime)

0    08/04/2013
1    08/04/2013
2    08/05/2013
3    08/05/2013
4    08/08/2013
Name: Issue Date, dtype: object

In [33]:
import datetime
violations_df.head()['Issue Date'].astype(datetime.datetime)

#violations_df['Issue Date'] = violations_df['Issue Date'].astype('datetime64[ns]')

0    08/04/2013
1    08/04/2013
2    08/05/2013
3    08/05/2013
4    08/08/2013
Name: Issue Date, dtype: object

In [25]:
violations_df.dtypes

Summons Number                         int64
Plate ID                              object
Registration State                    object
Plate Type                            object
Issue Date                            object
Violation Code                         int64
Vehicle Body Type                     object
Vehicle Make                          object
Issuing Agency                        object
Street Code1                           int64
Street Code2                           int64
Street Code3                           int64
Vehicle Expiration Date                int64
Violation Location                   float64
Violation Precinct                     int64
Issuer Precinct                        int64
Issuer Code                            int64
Issuer Command                        object
Issuer Squad                          object
Violation Time                        object
Time First Observed                   object
Violation County                      object
Violation In Front Of Or Opposite     object
House Number                          object
Street Name                           object
Intersecting Street                   object
Date First Observed                    int64
Law Section                            int64
Sub Division                          object
Violation Legal Code                  object
Days Parking In Effect                object
From Hours In Effect                  object
To Hours In Effect                    object
Vehicle Color                         object
Unregistered Vehicle?                float64
Vehicle Year                           int64
Meter Number                          object
Feet From Curb                         int64
Violation Post Code                   object
Violation Description                 object
No Standing or Stopping Violation    float64
Hydrant Violation                    float64
Double Parking Violation             float64
dtype: object

In [11]:
import re
violations_df['Violation Time'].head()

0    0752A
1    1240P
3    0232P
4    1239P
6    0741P
Name: Violation Time, dtype: object

In [53]:
test = violations_df['Violation Time'][0]
test = test.replace("A", " AM")
test = re.sub('^0', '', test)
test = re.sub('\d\d\S', 'hi', test)
print(test)
#if re.search(r'\d\d\d\d', src): # looking for 4 digits in a row
 #   print('yes')
#else:
 #   print("nope")

hi AM

6.  There sure are a lot of colors of cars, too bad so many of them are the same. Make "BLK" and "BLACK", "WT" and "WHITE", and any other combinations that you notice.

In [76]:
import re

In [80]:
def vehicle_colors(vehicle):
    if isinstance(vehicle, str):
        # print(vehicle)
        vehicle = vehicle.replace("GY", "GREY")
        vehicle = vehicle.replace("WH","WHITE")
        vehicle = vehicle.replace("BR","BROWN")
        vehicle = vehicle.replace("RD","RED")
        vehicle = vehicle.replace("BL","BLACK")
        vehicle = vehicle.replace("BK","BLACK")
        vehicle = vehicle.replace("TN","TAN")
        vehicle = vehicle.replace("YW","YELLOW")
        vehicle = re.sub('SIL$', 'SILVER', vehicle)
        vehicle = vehicle.replace("SILVR","SILVER")
        vehicle = vehicle.replace("SIL","SILVER")
    return vehicle

violations_df['Vehicle Color'].apply(vehicle_colors)

0              GREY
1             WHITE
2               NaN
3             WHITE
4             BROWN
5               RED
6                GN
7          WHITEITE
8          WHITEITE
9          BLACKACK
10          BLACKUE
11              TAN
12             GOLD
13         WHITEITE
14            GREEN
15         WHITEITE
16             GRAY
17            GREEN
18            WHITE
19         WHITEITE
20              TAN
21             GREY
22             GRAY
23              TAN
24            BLACK
25           WHITET
26            WHITE
27               GR
28              RED
29             GREY
             ...
4999969       BLACK
4999970       BLACK
4999971       BLACK
4999972        GREY
4999973         NaN
4999974        GREY
4999975         GRY
4999976       BLACK
4999977      BLACKU
4999978       BLACK
4999979      BLACKU
4999980        GREY
4999981       BLACK
4999982        GREY
4999983        GREY
4999984       BLACK
4999985        GREY
4999986      YELLOW
4999987       BLACK
4999988         RED
4999989        GREY
4999990       WHITE
4999991        GREY
4999992         NaN
4999993        GREY
4999994        GREY
4999995          GR
4999996       BLACK
4999997         RED
4999998       BLACK
Name: Vehicle Color, dtype: object