In [7]:
import pandas as pd
df = pd.read_excel("richpeople.xlsx")

What country are most billionaires from? For the top ones, how many billionaires per billion people?

In [12]:
df['citizenship'].value_counts().head()

United States    903
Germany          160
China            153
Russia           119
Japan             96
Name: citizenship, dtype: int64

In [34]:
us_pop = 318.9 #billion (2014)
us_bill = df[df['citizenship'] == 'United States']
print("There are",  us_pop/len(us_bill), "billionaires per billion people in the United States.")

There are 0.35315614617940194 billionaires per billion people in the United States.

In [35]:
germ_pop = 0.08062 #(2013)
germ_bill = df[df['citizenship'] == 'Germany']
print("There are",  germ_pop/len(germ_bill), "billionaires per billion people in Germany.")

There are 0.000503875 billionaires per billion people in Germany.

In [36]:
china_pop = 1.357 #(2013)
china_bill = df[df['citizenship'] == 'China']
print("There are",  china_pop/len(china_bill), "billionaires per billion people in China.")

There are 0.008869281045751633 billionaires per billion people in China.

In [37]:
russia_pop = 0.1435 #(2013)
russia_bill = df[df['citizenship'] == 'Russia']
print("There are",  russia_pop/len(russia_bill), "billionaires per billion people in Russia.")

There are 0.0012058823529411764 billionaires per billion people in Russia.

In [38]:
japan_pop = 0.1273 # 2013 
japan_bill = df[df['citizenship'] == 'Japan']
print("There are",  japan_pop/len(japan_bill), "billionaires per billion people in Japan.")

There are 0.0013260416666666666 billionaires per billion people in Japan.

In [8]:
print(df.columns)

Index(['year', 'name', 'rank', 'citizenship', 'countrycode',
       'networthusbillion', 'selfmade', 'typeofwealth', 'gender', 'age',
       'industry', 'IndustryAggregates', 'region', 'north',
       'politicalconnection', 'founder', 'generationofinheritance', 'sector',
       'company', 'companytype', 'relationshiptocompany', 'foundingdate',
       'gdpcurrentus', 'sourceofwealth', 'notes', 'notes2', 'source',
       'source_2', 'source_3', 'source_4'],
      dtype='object')

Who are the top 10 richest billionaires?

In [42]:
recent = df[df['year'] == 2014]
# if it is not recent then there are duplicates for diff years
recent.sort_values('rank').head(10)

,year,name,rank,citizenship,countrycode,networthusbillion,selfmade,typeofwealth,gender,age,...,relationshiptocompany,foundingdate,gdpcurrentus,sourceofwealth,notes,notes2,source,source_2,source_3,source_4
284,2014,Bill Gates,1,United States,USA,76.0,self-made,founder non-finance,male,58.0,...,founder,1975.0,NaN,Microsoft,NaN,NaN,http://www.forbes.com/profile/bill-gates/,NaN,NaN,NaN
348,2014,Carlos Slim Helu,2,Mexico,MEX,72.0,self-made,privatized and resources,male,74.0,...,founder,1990.0,NaN,telecom,NaN,NaN,http://www.ozy.com/provocateurs/carlos-slims-w...,NaN,NaN,NaN
124,2014,Amancio Ortega,3,Spain,ESP,64.0,self-made,founder non-finance,male,77.0,...,founder,1975.0,NaN,retail,NaN,NaN,http://www.forbes.com/profile/amancio-ortega/,NaN,NaN,NaN
2491,2014,Warren Buffett,4,United States,USA,58.2,self-made,founder non-finance,male,83.0,...,founder,1839.0,NaN,Berkshire Hathaway,NaN,NaN,http://www.forbes.com/lists/2009/10/billionair...,http://www.forbes.com/companies/berkshire-hath...,NaN,NaN
1377,2014,Larry Ellison,5,United States,USA,48.0,self-made,founder non-finance,male,69.0,...,founder,1977.0,NaN,Oracle,NaN,NaN,http://www.forbes.com/profile/larry-ellison/,http://www.businessinsider.com/how-larry-ellis...,NaN,NaN
509,2014,David Koch,6,United States,USA,40.0,inherited,inherited,male,73.0,...,relation,1940.0,NaN,diversified,inherited from father,NaN,http://www.kochind.com/About_Koch/History_Time...,NaN,NaN,NaN
381,2014,Charles Koch,6,United States,USA,40.0,inherited,inherited,male,78.0,...,relation,1940.0,NaN,diversified,inherited from father,NaN,http://www.kochind.com/About_Koch/History_Time...,NaN,NaN,NaN
2185,2014,Sheldon Adelson,8,United States,USA,38.0,self-made,self-made finance,male,80.0,...,founder,1952.0,NaN,casinos,NaN,NaN,http://www.forbes.com/profile/sheldon-adelson/,http://lasvegassun.com/news/1996/nov/26/rat-pa...,NaN,NaN
429,2014,Christy Walton,9,United States,USA,36.7,inherited,inherited,female,59.0,...,relation,1962.0,NaN,Wal-Mart,widow,NaN,http://www.forbes.com/profile/christy-walton/,NaN,NaN,NaN
1128,2014,Jim Walton,10,United States,USA,34.7,inherited,inherited,male,66.0,...,relation,1962.0,NaN,Wal-Mart,inherited from father,NaN,http://www.forbes.com/profile/jim-walton/,NaN,NaN,NaN

In [ ]:
What's the average wealth of a billionaire? Male? Female?

In [67]:
print("The average wealth of a billionaire is", recent['networthusbillion'].mean(), "billion dollars")

male = recent[(recent['gender'] == 'male')]
female = recent[(recent['gender'] == 'female')]


print("The average wealth of a male billionaire is", male['networthusbillion'].mean(), "billion dollars")
print("The average wealth of a female billionaire is", female['networthusbillion'].mean(), "billion dollars")

The average wealth of a billionaire is 3.90465819722 billion dollars
The average wealth of a male billionaire is 3.9027155465 billion dollars
The average wealth of a female billionaire is 3.92055555556 billion dollars

In [ ]:
Who is the poorest billionaire?

In [69]:
recent.sort_values('networthusbillion').head(1)

,year,name,rank,citizenship,countrycode,networthusbillion,selfmade,typeofwealth,gender,age,...,relationshiptocompany,foundingdate,gdpcurrentus,sourceofwealth,notes,notes2,source,source_2,source_3,source_4
234,2014,B.R. Shetty,1565,India,IND,1.0,self-made,founder non-finance,male,72.0,...,founder,1975.0,NaN,healthcare,NaN,NaN,http://en.wikipedia.org/wiki/B._R._Shetty,http://www.nmchealth.com/dr-br-shetty/,NaN,NaN

In [71]:
Who are the top 10 poorest billionaires?

Object `billionaires` not found.

In [ ]:
Who are the top 10 poorest billionaires

In [72]:
recent.sort_values('networthusbillion').head(10)

,year,name,rank,citizenship,countrycode,networthusbillion,selfmade,typeofwealth,gender,age,...,relationshiptocompany,foundingdate,gdpcurrentus,sourceofwealth,notes,notes2,source,source_2,source_3,source_4
234,2014,B.R. Shetty,1565,India,IND,1.0,self-made,founder non-finance,male,72.0,...,founder,1975.0,NaN,healthcare,NaN,NaN,http://en.wikipedia.org/wiki/B._R._Shetty,http://www.nmchealth.com/dr-br-shetty/,NaN,NaN
2092,2014,Rostam Azizi,1565,Tanzania,TZA,1.0,self-made,executive,male,49.0,...,investor,1999.0,NaN,"telecom, investments",NaN,NaN,http://www.forbes.com/profile/rostam-azizi/,http://en.wikipedia.org/wiki/Vodacom_Tanzania,http://www.thecitizen.co.tz/News/Rostam--Dewji...,NaN
2401,2014,Tory Burch,1565,United States,USA,1.0,self-made,founder non-finance,female,47.0,...,founder,2004.0,NaN,fashion,NaN,NaN,http://en.wikipedia.org/wiki/J._Christopher_Burch,http://www.vanityfair.com/news/2007/02/tory-bu...,NaN,NaN
734,2014,Fred Chang,1565,United States,USA,1.0,self-made,founder non-finance,male,57.0,...,founder,2001.0,NaN,online retailing,NaN,NaN,http://en.wikipedia.org/wiki/Newegg,http://www.newegg.com/Info/FactSheet.aspx,http://www.forbes.com/sites/andreanavarro/2014...,NaN
171,2014,Angela Bennett,1565,Australia,AUS,1.0,inherited,inherited,female,69.0,...,relation,1955.0,NaN,mining,inherited from father,shared fortune with brother,http://www.forbes.com/profile/angela-bennett/,NaN,NaN,NaN
748,2014,Fu Kwan,1565,China,CHN,1.0,self-made,self-made finance,male,56.0,...,chairman,1990.0,NaN,diversified,NaN,NaN,http://www.forbes.com/profile/fu-kwan/,http://www.macrolink.com.cn/en/AboutBig.aspx,NaN,NaN
2107,2014,Ryan Kavanaugh,1565,United States,USA,1.0,self-made,founder non-finance,male,39.0,...,founder,2004.0,NaN,Movies,NaN,NaN,http://en.wikipedia.org/wiki/Ryan_Kavanaugh,http://en.wikipedia.org/wiki/Relativity_Media,http://www.vanityfair.com/news/2010/03/kavanau...,NaN
1783,2014,O. Francis Biondi,1565,United States,USA,1.0,self-made,self-made finance,male,49.0,...,founder,1995.0,NaN,hedge fund,NaN,NaN,http://www.forbes.com/profile/o-francis-biondi/,http://www.forbes.com/sites/nathanvardi/2014/0...,NaN,NaN
1371,2014,Lam Fong Ngo,1565,Macau,MAC,1.0,self-made,self-made finance,female,NaN,...,Vice Chairman,1997.0,NaN,casinos,NaN,NaN,http://www.forbes.com/profile/david-chow-1/,http://www.macaulegend.com/html/about_mileston...,Macau Legend to roll the dice on HK IPO; But l...,NaN
702,2014,Feng Hailiang,1565,China,CHN,1.0,self-made,founder non-finance,male,53.0,...,founder,1989.0,NaN,copper processing & real estate,NaN,NaN,http://www.forbes.com/profile/feng-hailiang/,http://www.hailiang.com/en/about_int.php,NaN,NaN

In [ ]:
'What is relationship to company'?
 And what are the most common relationships?

In [76]:
#top 10 most common relationships to company
df['relationshiptocompany'].value_counts().head(10)

founder                                 1214
relation                                 945
owner                                     94
chairman                                  76
investor                                  36
Chairman and Chief Executive Officer      29
CEO                                       16
president                                 13
ceo                                        9
former CEO                                 8
Name: relationshiptocompany, dtype: int64

In [ ]:
Most common source of wealth? Male vs. female?

In [83]:
print("The most common source of wealth is", df['sourceofwealth'].value_counts().head(1))
print("The most common source of wealth for males is", male['sourceofwealth'].value_counts().head(1))
print("The most common source of wealth for females is", female['sourceofwealth'].value_counts().head(1))

The most common source of wealth is real estate    107
Name: sourceofwealth, dtype: int64
The most common source of wealth for males is real estate    100
Name: sourceofwealth, dtype: int64
The most common source of wealth for females is diversified    9
Name: sourceofwealth, dtype: int64

Given the richest person in a country, what % of the GDP is their wealth?

Add up the wealth of all of the billionaires in a given country (or a few countries) and then compare it to the GDP of the country, or other billionaires, so like pit the US vs India
What are the most common industries for billionaires to come from? What's the total amount of billionaire money from each industry?

How many self made billionaires vs. others?

In [86]:
(recent['selfmade'] == 'self-made').value_counts()

True     1146
False     507
Name: selfmade, dtype: int64

How old are billionaires? How old are billionaires self made vs. non self made? or different industries?
Who are the youngest billionaires? The oldest? Age distribution - maybe make a graph about it?
Maybe just made a graph about how wealthy they are in general?

Maybe plot their net worth vs age (scatterplot)
Make a bar graph of the top 10 or 20 richest